* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Kanit", sans-serif;
}

.nav {
  background-color: #f4f7fb;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav ul {
  display: flex;
}
.nav ul li {
  padding: 2em;
}
.nav ul li a {
  color: #000;
}
.nav ul li a:hover {
  background-color: #EEA539;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 2em;
}
.hero__container h1 {
  font-size: 5rem;
}
.hero__left--orange {
  color: #EEA539;
}
.hero__left__search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 8px;
  padding-left: 1em;
}
.hero__left__search form {
  font-size: 0;
  width: 100%;
}
.hero__left__search form input[type=text] {
  width: 80%;
}
.hero__left__search form button {
  width: 20%;
  padding: 2em;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #000;
  color: #fff;
}
.hero__left, .hero__right {
  flex: 1;
}
.hero input {
  padding: 2em;
  border: none;
  outline: none;
}