* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Kanit", sans-serif;
}

.nav {
  background-color: #f4f7fb;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav ul {
  display: flex;
}
.nav ul li {
  padding: 2em;
}
.nav ul li a {
  color: #000;
}
.nav ul li a:hover {
  background-color: #EEA539;
}